@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "icons.css";
@import "reset.css";

:root {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  --padding-sides: 4rem;
  --shadow-value: rgba(0, 0, 0, 0.24) 0 3px 8px;
  --white-bg-color: #fafafa;
  --white-bg-text-color: #ccccc;
  --dark-bg-color: #151F29;
  --dark-bg-text-color: #fafafa;
  --border-radius-value: .4rem
}

body {
  background-color: var(--white-bg-color);
  color: var(--white-bg-text-color);
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.header {
  display: flex;
  padding: .5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav__link {
  display: none;
}

.nav__link--mobile {
  display: inline-block;
}

.container {
  position: relative;
  flex: 1 1 0;
}

.map {
  width: 100%;
  height: 100%;
}

.events {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  bottom: 3.5rem;
  right: .5rem;
  z-index: 401;
  background-color: var(--white-bg-color);
  border-radius: var(--border-radius-value);
  box-shadow: var(--shadow-value);
  padding: .3rem;
  width: 55%;
  height: 35%;
}

.events__title {
  font-size: 1.3rem;
  font-weight: 700;
}

.events__type {
  font-size: 1rem;
  font-weight: 400;
  padding: .2rem 0 .2rem 0;
}

.events__output {
  font-family: "Google Sans Code", monospace;
  font-size: .8rem;
  overflow-y: scroll;
  background-color: var(--dark-bg-color);
  border-radius: var(--border-radius-value);
  color: var(--dark-bg-text-color);
  padding: .5rem;
  flex: 1 1 0;
}

.footer {
  display: none;
}

@media screen and (min-width: 769px) {
  .header {
    padding: .3rem var(--padding-sides);
  }

  .nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    display: inline-block;
  }

  .nav__link {
    text-decoration: none;
    color: var(--white-bg-text-color);
  }

  .nav__link:hover {
    color: cornflowerblue;
  }

  .container {
    padding: 2rem var(--padding-sides);
  }

  .map {
    border-radius: var(--border-radius-value);
    box-shadow: var(--shadow-value);
  }

  .events {
    bottom: 4rem;
    right: 4.5rem;
    width: 35%;
    height: 35%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: .3rem var(--padding-sides);
  }

  .footer__text {
    color: var(--white-bg-text-color);
    font-size: .8rem;
  }

  .footer__text--link {
    text-decoration: none;
    color: var(--white-bg-text-color);
  }
}
