.link {
  text-decoration: none;
  color: var(--white-bg-text-color);
}

.link:hover {
  color: cornflowerblue;
}

.icon-button {
  position: relative;
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  background-color: #278EE0;
  color: #fff;
  border-style: none;
  padding: .5rem 1rem;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: auto;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
}

.icon-button__text {
  font-weight: 700;
}

.icon-button__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
