.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--folder-pois {
  background-image: url("./folder-pois.svg");
}

.icon--github {
  background-image: url("./github.svg");
}

.icon--upload {
  background-image: url("./layer-upload.svg");
}

.icon--medium {
  width: 2rem;
  height: 2rem;
}

.icon--small {
  width: 1.5rem;
  height: 1.5rem;
}
